<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ProyectoTAWPU" transaction-type="RESOURCE_LOCAL">
    <class>TAWapp.entity.Producto</class>
    <class>TAWapp.entity.ProductosFavoritos</class>
    <class>TAWapp.entity.EstadisticaHasProductosFavoritos</class>
    <class>TAWapp.entity.Usuario</class>
    <class>TAWapp.entity.Categoria</class>
    <class>TAWapp.entity.Estadistica</class>
    <class>TAWapp.entity.CompradorProducto</class>
    <class>TAWapp.entity.EstadisticaHasCompradorProducto</class>
    <class>TAWapp.entity.Rol</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:derby://localhost:1527/TAW"/>
      <property name="javax.persistence.jdbc.user" value="TAW"/>
      <property name="javax.persistence.jdbc.driver" value="org.apache.derby.jdbc.ClientDriver"/>
      <property name="javax.persistence.jdbc.password" value="TAW"/>
    </properties>
  </persistence-unit>
</persistence>
